main { 
    background-color: rgb(0, 0, 0); 
}


footer {
    background-color: #faed79;
}


header {

    background-color: #faed79;
}


body {
  
    font-family: Arial, Verdana, Tahoma, sans-serif, sans-serif;
    

    background-color: rgb(255, 255, 255);
}




#menu li {
  
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;

}

a:visited {
    color: black;
}

a {
    color: black;
    text-decoration: black;
    background-color: lightgray;

}

a:hover {
    color: #ffffff;
}


nav {
   
   
    background-color: lightgray;
}




h1 {
    font-family: 'Times New Roman', Times, serif;
    
   

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}




.pl {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



#cntt {
    background-color: #faed79;
}

.f{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faed79;
}

.back{
 background-image: url("../imagens/vi.jpg");
 background-repeat: repeat;
 
}