.v{
    width:300px;

}

main {
    width: 1200px;
    margin: 0px auto 0px auto;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    border: 1px solid black;
}

footer {
    width: 1200px;
    margin: 0px auto 0px auto;
    clear: left;
    border: 1px solid #faed79;
    background-color: #faed79;
}

header {
    width: 1200px;
    margin: 0px auto 0px auto;
    background-color: #faed79;
    border: 1px solid #faed79;
    border-bottom: 1px solid lightgray;

}

body {
    width: 1200px;
    font-family: Arial, Verdana, Tahoma, sans-serif, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}

#cntts {
    margin-left: 20px;
}

#menu li {
    display: inline;
    margin: 40px;
    background-image: url("../imagens/violao.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 0px 0px 0px 30px;
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;

}

a:visited {
    color: black;
}

a {
    color: black;
    text-decoration: black;
    background-color: lightgray;

}

a:hover {
    color: #ffffff;
}


nav {
    border: 1px solid lightgray;
    width: 1200px;
    clear: both;
    background-color: lightgray;
}


h1 {
    font-family: 'Times New Roman', Times, serif;

    width: 390px;
    font-size: 50px;
    overflow: auto;
    margin: auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

#logo {
    width: 100px;
    margin: 10px;
    float: left;
    margin-top: 25px;
}

#tx {
    float: right;
}

#cntt {
    background-color: #faed79;
}

#ft {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#direita,#esquerda {
    width: 350px;
    float: left;
    margin: 20px;
    min-height: 650px;
    background-color: #faed79;
    padding: 15px;
}

#meio {
    width: 290px;
    float: left;
    margin: 10px;
    margin-top: 20px;
    min-height: 650px;
    background-color: #faed79;
    padding: 15px;
}

.pl {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}